.contenedor-name-filter-card{
	box-shadow: 0 1px 3px rgba(0, 0 , 0, 0.5); /*sombra que le agrego a la caja (box -> container)*/
	/*1er param -> desplazamiento de la sombra en "x"*/
	/*2do param -> desplazamiento de la sombra en "y"*/
	/*3er param -> tamanio de la sombra*/
	/*rgba(0, 0 , 0, 0.5) -> (0,0,0) sombra negra y 3er parametro trasparencia*/
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 8px 16px;
}
	.contenedor-name-filter-card a{
		font-size: 12px;
	}


.name-filter-body{
	margin-top: 8px;
}
	.name-filter-body input{
		border-color: #CCC;
		border-top-color: #777;
		color: #555;
		font-size: 0.875rem;
		font-weight: normal;
		height: 32px;
		padding: 4px 8px;	
		border-radius: 2px;
		box-sizing: border-box;
		width: 100%;
	}