.contenedor-search{
	box-sizing: border-box;
	border: 1px solid grey;
	padding: 8px 16px 0px 16px;
}

.search-head{
	margin-top: 10px;
	line-height: 1.5rem;
	font-size: 1.25rem;
	font-weight: normal;

}

.search-values{
	margin-top: 10px;
	line-height: 1.5rem;
	font-size: 0.875rem;
	list-style-position: inside;
	margin-bottom: 8px;
}