.contenedor-sort{
	margin-top: 5px;
	margin-bottom: 5px;
	float: right;
	line-height: 1rem;
	font-size: 0.875rem;
	text-align: right;
}
	.contenedor-sort label{
		font-size: 0.75rem;
		display: inline-block;
		margin-right: 8px;
		line-height: 24px !important;
	}
	.contenedor-sort select{
		line-height: 1rem;
		font-size: 0.75rem;
		height: 24px;
		border-color: #CCC;
		border-top-color: #777;
		font-family: 'Roboto', sans-serif;
		color: #444;
		font-weight: normal;
	}

.col-md-3{
	padding-left: 0px;
}	

.col-md-4{
	padding-left: 0px;
	padding-right: 0px;
}

.col-md-8{
	padding-left: 0px;
	padding-right: 0px;
}

.col-md-11{
	padding-left: 0px;
	padding-right: 18px;
}

.col-md-12{
	padding-right: 0px
}

.contenedor-mapa-card{
	box-shadow: 0 1px 2px rgba(0, 0 , 0, 0.3); /*sombra que le agrego a la caja (box -> container)*/
	/*1er param -> desplazamiento de la sombra en "x"*/
	/*2do param -> desplazamiento de la sombra en "y"*/
	/*3er param -> tamanio de la sombra*/
	/*rgba(0, 0 , 0, 0.3) -> (0,0,0) sombra negra y 3er parametro trasparencia*/
	margin-bottom: 15px;
}

.contenedor-hotel{
	box-shadow: 0 1px 2px rgba(0, 0 , 0, 0.3); /*sombra que le agrego a la caja (box -> container)*/
	/*1er param -> desplazamiento de la sombra en "x"*/
	/*2do param -> desplazamiento de la sombra en "y"*/
	/*3er param -> tamanio de la sombra*/
	/*rgba(0, 0 , 0, 0.3) -> (0,0,0) sombra negra y 3er parametro trasparencia*/
	width: 100%
}
	.contenedor-hotel-photo{
		margin-top: 5px;
		margin-left: 5px;
	}
		.contenedor-hotel-photo img{
			display: inline-block;
			height: 185px;
			overflow: hidden;
			background-size: cover;
			background-position: 50%;
			width: 100%;
		}

	.contenedor-hotel-data{
	}
		.contenedor-hotel-data strong{
			line-height: 1.5rem;
			font-size: 1rem;
			margin: 0;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
		.contenedor-hotel-data a{
			color: darkorange;
		}
		.contenedor-hotel-data a strong{
			color: darkorange;
			font-size: 0.875rem;
		}

		.contenedor-hotel-data-stars i{
		    color: gold;
		    margin-right: 4px
		}

	.contenedor-hotel-price{
		position: relative;
		box-sizing: border-box;
		border-left: 1px dashed #CCC;

	}
	.contenedor-hotel-price p{
		margin-bottom: 0px

	}
		.contenedor-hotel-price label{
			font-size: 0.70rem;
			font-weight: normal;
		}
		.contenedor-hotel-price-type{
			line-height: 2.5rem;
			font-size: 1.5rem;
			font-weight: normal;
			display: inline-block;
			vertical-align: top;
			color: #DF6800;
		}
		.contenedor-hotel-price-value{
			line-height: 2.5rem;
			font-size: 2.25rem;
			font-weight: bold;
			display: inline-block;
			vertical-align: top;
			color: #DF6800;
		}
		.contenedor-hotel-price-button{
			display: block;
			width: 100%;
			box-sizing: border-box;
			background-color: #002C77;
			color: #fff;
			box-shadow: 0 -2px 0 #00163C
			height: 40px !important;
			font-size: 20px !important;
			line-height: 40px !important;
			padding: 0 16px;
			font-weight: bold;
		}
		