<table class="table">
<thead class="thead-inverse">
    <tr>
    <th>Nombre Empresa</th>
    <th>CUIT</th>
    <th>Categoría Fiscal</th>
    <th>Dirección</th>
    <th>Condición de Pago</th>
    <th>Acciones</th>
    </tr>
</thead>
<tbody *ngFor="let proveedor of proveedores">
    <td>{{proveedor.nombreEmpresa}}</td>
    <td>{{proveedor.cuit}}</td>
    <td>{{proveedor.categoriaFiscal}}</td>
    <td>{{proveedor.direccion}}</td>
    <td>{{proveedor.condicionPago}}</td>
    <td>
        <button type="button" class="btn btn-success" (click)="modificar(proveedor)" title="Modificar"
        data-toggle="modal" data-target="#modificarModal" >
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-danger" (click)="borrar(proveedor._id)" title="Borrar" >
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
    </td>
</tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="modificarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="mostrarModalModificar">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modificar-modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modificar proveedor</h5>
            </div>
            <div class="modal-body">
				<div class="container">
				    <input type="text" class="form-control" placeholder="Nombre empresa" aria-describedby="basic-addon1" style="margin-bottom: 4px;" [(ngModel)]="nombreEmpresa">

				    <input type="number" class="form-control" placeholder="CUIT ( sin los &quot;-&quot; )" 
				    aria-describedby="basic-addon1" style="margin-bottom: 4px;" min="1" 
                    onkeypress="return validateChar(event)" [(ngModel)]="cuit">

                    <div class="form-group row">
                        <div class="col-4">
                            <label for="example-text-input" class="col-form-label">Categoria Fiscal</label>
                        </div>
                        <div class="col-8">
                            <select class="form-control" id="categoriaFiscal" [(ngModel)]="categoriaFiscal">
                                <option>Consumidor Final</option>
                                <option>Del Exterior</option>
                                <option>Exento</option>
                                <option>No computable IVA</option>
                                <option>Responsable Inscripto</option>
                                <option>Responsable No Inscripto</option>
                            </select>
                        </div>
                    </div>

				    <input type="text" class="form-control" placeholder="Dirección" 
				    aria-describedby="basic-addon1" style="margin-bottom: 4px;" [(ngModel)]="direccion">

                    <input type="text" class="form-control" placeholder="Condición de Pago (ej: 30-60-90)" 
                    aria-describedby="basic-addon1" style="margin-bottom: 4px;" 
                    onkeypress="return validarCondPago(event)" [(ngModel)]="condicionPago">
				</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" (click)="guardarModificaciones()">
                    Guardar modificaciones
                </button>
            </div>
        </div>
    </div>
</div>
